@import "./colors.scss";

.button__container {
  display: flex;
  justify-content: center;
}

.header__wrapper {
  text-align: center;
}

.delete__wrapper:hover {
  background-color: $dark-red;
  border-color: $dark-red;
}
