@import "./colors.scss";

.delete__wrapper {
  margin-left: 0rem;

  @media screen and (min-width: 992px) {
    margin-left: 5rem;
  }
}

.center__wrapper {
  text-align: center;
  vertical-align: middle;
}

.header__wrapper {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 60%;
  top: 125px;
}

.alert__wrapper {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 60%;
  top: 2%;
}

.inner__card {
  width: 60%;
  min-width: 50%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: visible;
  margin-top: 190px;
  background-color: white;

  @media screen and (min-width: 992px) {
    overflow-x: hidden;
  }
}
.main__card {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-bottom: 5rem;
}

.tablehead__wrapper {
  position: sticky;
  top: 0px;
  background-color: lightblue;
}
