$beige: #fff1e6;
$light-gray: #f0efeb;
$maroon-red: #772e25;
$dark-teal: #197278;
$white: #ffffff;
$black: #000000;
$navy-blue: #223855;
$soft-blue: #5f7aab;
$hard-blue: #395174;
$light-blue: #e9f6ff;
